/*body {
	background-color: #FF0000;
}*/

main {
	width: 980px;
	margin: 0 auto;
}

#gallery {
	background-color: orange;
}

#slider {
	width: 320px;
	height: 180px;
	background-color: #333333;
}











